USE [QL_KHOHANG]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUDAT]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUDAT](
	[ID_PD] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTPD] PRIMARY KEY CLUSTERED 
(
	[ID_PD] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[ID_PN] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIANHAP] [float] NULL,
	[HANSD] [date] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[ID_PX] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTHD2] PRIMARY KEY CLUSTERED 
(
	[ID_PX] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITTIETCHUYENHANG]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITTIETCHUYENHANG](
	[ID_PC] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CT_CH] PRIMARY KEY CLUSTERED 
(
	[ID_PC] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCSANPHAM]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCSANPHAM](
	[ID_NCC] [int] NOT NULL,
	[ID_SP] [int] NOT NULL,
	[GIABAN] [int] NOT NULL,
 CONSTRAINT [PK_DMSP] PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC,
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[ID_LSP] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAISANPHAM] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[ID_LSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[ID_MANHINH] [int] IDENTITY(1,1) NOT NULL,
	[TENMANHINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_MANHINH] PRIMARY KEY CLUSTERED 
(
	[ID_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID_KHO] [int] NOT NULL,
	[ID_DN] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[TINHTRANG] [bit] NULL,
	[HINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_DN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG](
	[ID_NHOM] [varchar](10) NOT NULL,
	[ID_DN] [varchar](10) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_NNND] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC,
	[ID_DN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID_NCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[ID_NHOM] [varchar](10) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
 CONSTRAINT [PK_NND] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[ID_NHOM] [varchar](10) NOT NULL,
	[ID_MANHINH] [int] NOT NULL,
	[GHICHU] [varchar](20) NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[ID_NHOM] ASC,
	[ID_MANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[ID_PD] [int] IDENTITY(1,1) NOT NULL,
	[ID_NCC] [int] NULL,
	[ID_DN] [varchar](10) NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK_PD] PRIMARY KEY CLUSTERED 
(
	[ID_PD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[ID_PN] [int] IDENTITY(1,1) NOT NULL,
	[ID_NCC] [int] NULL,
	[ID_DN] [varchar](10) NULL,
	[ID_PD] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_PN] PRIMARY KEY CLUSTERED 
(
	[ID_PN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[ID_PX] [int] IDENTITY(1,1) NOT NULL,
	[ID_DN] [varchar](10) NULL,
	[LOAIXUAT] [nvarchar](50) NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_PX1] PRIMARY KEY CLUSTERED 
(
	[ID_PX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID_SP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](100) NULL,
	[DVT] [nvarchar](10) NULL,
	[ID_LSP] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[HINHANH] [nvarchar](100) NULL,
	[NGAYNHAP] [date] NULL,
 CONSTRAINT [PK_SP] PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THONGTINKHO]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGTINKHO](
	[ID_KHO] [int] IDENTITY(1,1) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[TINHTRANG] [nvarchar](30) NULL,
	[SLNV] [int] NULL,
 CONSTRAINT [PK_TTKHO] PRIMARY KEY CLUSTERED 
(
	[ID_KHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YEUCAUCHUYENHANG]    Script Date: 12/07/2021 04:17:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YEUCAUCHUYENHANG](
	[ID_PC] [int] IDENTITY(1,1) NOT NULL,
	[ID_KHO] [int] NOT NULL,
	[ID_DN] [varchar](10) NOT NULL,
	[NGAYLAP] [date] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
 CONSTRAINT [PK_YCCH] PRIMARY KEY CLUSTERED 
(
	[ID_PC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHITIETPHIEUDAT] ([ID_PD], [ID_SP], [SOLUONG], [THANHTIEN]) VALUES (1, 1, 10, 120000)
INSERT [dbo].[CHITIETPHIEUDAT] ([ID_PD], [ID_SP], [SOLUONG], [THANHTIEN]) VALUES (1, 2, 5, 62500)
INSERT [dbo].[CHITIETPHIEUDAT] ([ID_PD], [ID_SP], [SOLUONG], [THANHTIEN]) VALUES (1, 5, 7, 70000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([ID_PN], [ID_SP], [SOLUONG], [DONGIANHAP], [HANSD], [THANHTIEN]) VALUES (1, 1, 10, 12000, CAST(N'2022-07-15' AS Date), 120000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([ID_PN], [ID_SP], [SOLUONG], [DONGIANHAP], [HANSD], [THANHTIEN]) VALUES (1, 2, 10, 12500, CAST(N'2022-07-15' AS Date), 125000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([ID_PN], [ID_SP], [SOLUONG], [DONGIANHAP], [HANSD], [THANHTIEN]) VALUES (1, 3, 10, 11000, NULL, 110000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([ID_PX], [ID_SP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (1, 4, 46, 10000, 460000)
INSERT [dbo].[CHITIETPHIEUXUAT] ([ID_PX], [ID_SP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, 2, 5, 12500, 62500)
INSERT [dbo].[DANHMUCSANPHAM] ([ID_NCC], [ID_SP], [GIABAN]) VALUES (1, 1, 13000)
INSERT [dbo].[DANHMUCSANPHAM] ([ID_NCC], [ID_SP], [GIABAN]) VALUES (1, 2, 12500)
INSERT [dbo].[DANHMUCSANPHAM] ([ID_NCC], [ID_SP], [GIABAN]) VALUES (1, 5, 10000)
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON 

INSERT [dbo].[LOAISANPHAM] ([ID_LSP], [TENLOAISANPHAM]) VALUES (1, N'Nước uống')
INSERT [dbo].[LOAISANPHAM] ([ID_LSP], [TENLOAISANPHAM]) VALUES (2, N'Mì tôm')
INSERT [dbo].[LOAISANPHAM] ([ID_LSP], [TENLOAISANPHAM]) VALUES (3, N'Đồ khô')
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
SET IDENTITY_INSERT [dbo].[MANHINH] ON 

INSERT [dbo].[MANHINH] ([ID_MANHINH], [TENMANHINH]) VALUES (1, N'Trang chủ')
INSERT [dbo].[MANHINH] ([ID_MANHINH], [TENMANHINH]) VALUES (2, N'Nhân viên')
INSERT [dbo].[MANHINH] ([ID_MANHINH], [TENMANHINH]) VALUES (3, N'Nhà cung cấp')
SET IDENTITY_INSERT [dbo].[MANHINH] OFF
INSERT [dbo].[NGUOIDUNG] ([ID_KHO], [ID_DN], [MATKHAU], [TEN], [SDT], [DIACHI], [GIOITINH], [NGAYSINH], [TINHTRANG], [HINH]) VALUES (1, N'dat123', N'123', N'Phan Thành Đạt', N'0944826504', N'Thành phố Hồ Chí Minh', N'Nam', CAST(N'2000-10-20' AS Date), 1, NULL)
INSERT [dbo].[NGUOIDUNGNHOMNGUOIDUNG] ([ID_NHOM], [ID_DN], [GHICHU]) VALUES (N'qlTong', N'Dat123', NULL)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'Nước giải khát Nam Việt', N'994/1C Nguyễn Thị Minh Khai, Dĩ An, Bình Dương', N'1900633874')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'Nước giải khát Khôi Việt', N'89 D11, Tân Phú, TP HCM', N'0984052288')
INSERT [dbo].[NHACUNGCAP] ([ID_NCC], [TENNCC], [DIACHI], [SDT]) VALUES (3, N'Micoem', N'Số 8 TS15, KCN Tiên Sơn, Bắc Ninh', N'0223714146')
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
INSERT [dbo].[NHOMNGUOIDUNG] ([ID_NHOM], [TENNHOM]) VALUES (N'nvKho', N'Nhân viên kho')
INSERT [dbo].[NHOMNGUOIDUNG] ([ID_NHOM], [TENNHOM]) VALUES (N'qlKho', N'Quản lý kho')
INSERT [dbo].[NHOMNGUOIDUNG] ([ID_NHOM], [TENNHOM]) VALUES (N'qlTong', N'Quản lý tổng')
INSERT [dbo].[PHANQUYEN] ([ID_NHOM], [ID_MANHINH], [GHICHU], [COQUYEN]) VALUES (N'qlTong', 1, NULL, 1)
INSERT [dbo].[PHANQUYEN] ([ID_NHOM], [ID_MANHINH], [GHICHU], [COQUYEN]) VALUES (N'qlTong', 2, NULL, 1)
INSERT [dbo].[PHANQUYEN] ([ID_NHOM], [ID_MANHINH], [GHICHU], [COQUYEN]) VALUES (N'qlTong', 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[PHIEUDAT] ON 

INSERT [dbo].[PHIEUDAT] ([ID_PD], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (1, 1, N'dat123', CAST(N'2021-07-09' AS Date), 252500, 1)
INSERT [dbo].[PHIEUDAT] ([ID_PD], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (2, 2, N'dat123', CAST(N'2021-07-09' AS Date), NULL, 1)
INSERT [dbo].[PHIEUDAT] ([ID_PD], [ID_NCC], [ID_DN], [NGAYLAP], [TONGTIEN], [TINHTRANG]) VALUES (3, 3, N'dat123', CAST(N'2021-07-09' AS Date), 321000, 1)
SET IDENTITY_INSERT [dbo].[PHIEUDAT] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NCC], [ID_DN], [ID_PD], [NGAYLAP], [TONGTIEN]) VALUES (1, 1, N'dat123', 1, CAST(N'2021-07-10' AS Date), 355000)
INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NCC], [ID_DN], [ID_PD], [NGAYLAP], [TONGTIEN]) VALUES (14, 3, N'dat123', 4, CAST(N'2021-07-11' AS Date), 360000)
INSERT [dbo].[PHIEUNHAP] ([ID_PN], [ID_NCC], [ID_DN], [ID_PD], [NGAYLAP], [TONGTIEN]) VALUES (15, 1, N'dat123', 5, CAST(N'2021-07-11' AS Date), 1850000)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] ON 

INSERT [dbo].[PHIEUXUAT] ([ID_PX], [ID_DN], [LOAIXUAT], [NGAYLAP], [TONGTIEN]) VALUES (1, N'dat123', N'', CAST(N'2021-07-12' AS Date), 460000)
INSERT [dbo].[PHIEUXUAT] ([ID_PX], [ID_DN], [LOAIXUAT], [NGAYLAP], [TONGTIEN]) VALUES (2, N'dat123', N'Xuất Hàng', CAST(N'2021-07-12' AS Date), 62500)
SET IDENTITY_INSERT [dbo].[PHIEUXUAT] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID_SP], [TENSP], [DVT], [ID_LSP], [SOLUONG], [DONGIA], [HINHANH], [NGAYNHAP]) VALUES (1, N'Coca Cola', N'Lon', 1, 100, 12000, N'cocacola.jpg', CAST(N'2021-05-20' AS Date))
INSERT [dbo].[SANPHAM] ([ID_SP], [TENSP], [DVT], [ID_LSP], [SOLUONG], [DONGIA], [HINHANH], [NGAYNHAP]) VALUES (2, N'Pepsi', N'Lon', 1, 100, 12500, N'pepsi.jpg', CAST(N'2021-05-20' AS Date))
INSERT [dbo].[SANPHAM] ([ID_SP], [TENSP], [DVT], [ID_LSP], [SOLUONG], [DONGIA], [HINHANH], [NGAYNHAP]) VALUES (3, N'Hảo hảo', N'Goi', 2, 14, 11000, N'haohao.jpg', CAST(N'2021-05-20' AS Date))
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[THONGTINKHO] ON 

INSERT [dbo].[THONGTINKHO] ([ID_KHO], [DIACHI], [TINHTRANG], [SLNV]) VALUES (1, N'Thành phố Hồ Chí Minh', N'Bình thường', 20)
SET IDENTITY_INSERT [dbo].[THONGTINKHO] OFF
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPD_PN] FOREIGN KEY([ID_PD])
REFERENCES [dbo].[PHIEUDAT] ([ID_PD])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CTPD_PN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPD_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CTPD_SP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PN] FOREIGN KEY([ID_PN])
REFERENCES [dbo].[PHIEUNHAP] ([ID_PN])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CTPN_PN]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD2] FOREIGN KEY([ID_PX])
REFERENCES [dbo].[PHIEUXUAT] ([ID_PX])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTHD_HD2]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP2] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CTHD_SP2]
GO
ALTER TABLE [dbo].[CHITTIETCHUYENHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([ID_PC])
REFERENCES [dbo].[YEUCAUCHUYENHANG] ([ID_PC])
GO
ALTER TABLE [dbo].[CHITTIETCHUYENHANG] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITTIETCHUYENHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[CHITTIETCHUYENHANG] CHECK CONSTRAINT [FK_CTHD_SP]
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_DMSP_NCC] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM] CHECK CONSTRAINT [FK_DMSP_NCC]
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_DMSP_SP] FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SANPHAM] ([ID_SP])
GO
ALTER TABLE [dbo].[DANHMUCSANPHAM] CHECK CONSTRAINT [FK_DMSP_SP]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_KHO_ND] FOREIGN KEY([ID_KHO])
REFERENCES [dbo].[THONGTINKHO] ([ID_KHO])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_KHO_ND]
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NNND_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_NNND_ND]
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NNND_NND] FOREIGN KEY([ID_NHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([ID_NHOM])
GO
ALTER TABLE [dbo].[NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_NNND_NND]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_MH] FOREIGN KEY([ID_MANHINH])
REFERENCES [dbo].[MANHINH] ([ID_MANHINH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_MH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_NNDA] FOREIGN KEY([ID_NHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([ID_NHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_NNDA]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PD_NCC] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PD_NCC]
GO
ALTER TABLE [dbo].[PHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_PD_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[PHIEUDAT] CHECK CONSTRAINT [FK_PD_ND]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_PHIEUDAT] FOREIGN KEY([ID_PD])
REFERENCES [dbo].[PHIEUDAT] ([ID_PD])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_PHIEUDAT]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NHACUNGCAP] ([ID_NCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_ND] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_ND]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PN_ND1] FOREIGN KEY([ID_DN])
REFERENCES [dbo].[NGUOIDUNG] ([ID_DN])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PN_ND1]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAI] FOREIGN KEY([ID_LSP])
REFERENCES [dbo].[LOAISANPHAM] ([ID_LSP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LOAI]
GO
